.lightmode {
  --mainpurple: #fa0015;
  --maincyan: rgba(55, 235, 169, 0.85);
  --bgcolor: #262626;
  --gray: #fbfbfb;
  --whitesolid: #212121;
  --whitesolidfb: #242424;
  --black: white;
  --white: black;
  --primary-color: #212121;
  --nav-bg: rgba(255, 255, 255, 0.1);

  --navLink: #212121c2;
  --fS-h4: #212121;
  --fS-h4-light-1: rgb(255, 0, 43);
  --fS-h4-light-2: yellow;

  --primary-desc: #2b2b2b;
  .bodyGradient {
    transition: all ease-in-out 400ms;
    background-color: hsla(90, 0%, 100%, 1);
    background-image: radial-gradient(
        at 50% 79%,
        hsla(18, 100%, 53%, 0.45) 0px,
        transparent 50%
      ),
      radial-gradient(at 86% 82%, hsla(61, 72%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(54, 95%, 72%, 0.96) 0px, transparent 50%),
      radial-gradient(at 83% 16%, hsla(0, 100%, 50%, 0.57) 0px, transparent 50%),
      radial-gradient(
        at 9% 12%,
        hsla(344, 100%, 50%, 0.53) 0px,
        transparent 50%
      );
  }
  .navTab__list-item-link {
    font-weight: 600;
  }
  .navTab:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navTab__list-item-link:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  .navTab__list-item-link.nav-active {
    background-color: var(--mainpurple);
    color: var(--black);
  }
  .firstSection__advMain img {
    filter: invert(1);
  }
  .fourthSection__form {
    form > div {
      input,
      textarea {
        background-color: rgba(255, 255, 255, 0.9);
      }
      input::placeholder,
      textarea::placeholder {
        color: #212121c2;
      }
    }
  }
  footer {
    background-color: rgba(255, 255, 255, 0.6);
  }
  #footer__backtotop {
    img {
      -webkit-filter: invert(0%);
      filter: invert(0%);
    }
  }
  .footer__body {
    p:nth-child(2) {
      color: #000000ba;
    }
  }
}
