.mainSection {
  width: 100%;
  background-color: transparent;
}
.firstSection {
  padding: 120px 0;
  display: flex;
  position: relative;
  width: 100%;
  height: 100dvh;
  justify-content: space-between;
}
#theme-switch-mobile {
  display: none;
}
.firstSection__main {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}
.firstSection__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 45%;
  h4 {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    color: var(--fS-h4);
    line-height: 70px;
    span {
      animation: lighting 1500ms alternate infinite ease;
    }
    span:nth-child(1) {
      animation-delay: 0ms;
    }
    span:nth-child(2) {
      animation-delay: 250ms;
    }
    span:nth-child(3) {
      animation-delay: 500ms;
    }
    span:nth-child(4) {
      animation-delay: 750ms;
    }
    span:nth-child(5) {
      animation-delay: 1000ms;
    }
  }
  p {
    font-size: 18px;
    font-family: "Helvetica Now Display";
    font-weight: 400;
    color: var(--primary-desc);
  }
  .firstSection__contentLinks {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    a {
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
      transition: all ease-in-out 400ms;
      font-weight: 600;
    }
    a:hover {
      background-color: var(--primary-color);
      color: var(--black);
      box-shadow: 0px 0px 10px var(--primary-color);
      font-weight: 600;
    }
  }
}
.firstSection__rating {
  position: absolute;
  bottom: 120px;
  margin-top: 60px;
  display: flex;
  gap: 50px;
}
.firstSection__rating-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  .rating__num {
    font-family: "Orbitron", sans-serif;
    font-size: 42px;
    color: var(--primary-color);
    font-weight: 500;
    width: min-content;
  }
  .rating__desc {
    width: 100%;
    color: var(--primary-desc);
    font-size: 20px;
  }
}
.firstSection__img {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30vw;
    border: 2px solid var(--primary-color);
    filter: grayscale(100%) blur(0.8px);
    transition: all ease-in-out 400ms;
  }
  img:hover {
    filter: grayscale(0%) blur(0px);
  }
}
.firstSection__advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 25%;
  .firstSection__advMain {
    display: flex;
    gap: 20px;
    img {
      width: 64px;
      height: 64px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    div > p:nth-child(1) {
      color: var(--fS-h4-light-1);
      font-size: 32px;
      font-family: "Orbitron", sans-serif;
      font-weight: 500;
    }
    div > p:nth-child(2) {
      color: var(--primary-desc);
      font-size: 18px;
      font-family: "Helvetica Now Display";
      font-weight: 400;
    }
  }
}
@keyframes lighting {
  0%,
  85% {
    color: var(--fS-h4);
    text-shadow: none;
  }
  100% {
    color: var(--fS-h4-light-1);
    text-shadow: 0 0 5px var(--fS-h4-light-1), 0 0 3px var(--fS-h4-light-2);
  }
}

.secondSection {
  padding: 120px 50px;
  display: flex;
  position: relative;
  gap: 64px;
  width: 100%;
  height: 100dvh;
  justify-content: space-between;
  display: flex;
  justify-content: center;
}
.secondSection__img {
  img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    transition: all ease-in-out 400ms;
  }
  img:hover {
    border: 2px solid var(--fS-h4-light-1);
  }
}
.secondSection__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  h4 {
    font-size: 92px;
    color: var(--fS-h4-light-1);
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
  }
  p {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 24px;
    width: 95%;
    color: var(--whitesolid);
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.thirdSection {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.thirdSection__content {
  h4 {
    font-size: 64px;
    color: var(--fS-h4-light-1);
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
  }
}
.thirdSection__projects {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  grid-gap: 40px;
}
.thirdSection__projectsTitle {
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 0px 25px #000000a9;
  padding-bottom: 25px;
  border-radius: 16px;
}
.thirdSection__projectsTitle > p {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 700;
}
.thirdSection__projectsTitle > iframe {
  width: 100%;
  height: 50dvh;
  border-radius: 16px;
}

.fourthSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  padding: 60px 0;
  h4 {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    color: var(--fS-h4-light-1);
  }
  > div {
    display: flex;
    gap: 40px;
  }
}
.fourthSection__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    #contactName {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      div {
        width: 100%;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        padding-left: 18px;
        font-size: 20px;
        color: var(--primary-color);
        font-weight: 700;
      }
      input,
      textarea {
        width: 100%;
        box-sizing: border-box;
        transition: all ease-in-out 400ms;
        border-radius: 32px;
        padding: 12px 20px;
        outline: none;
        border: none;
        font-size: 20px;
        font-family: "Helvetica Now Display";
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        color: var(--primary-color);
      }
      input::placeholder,
      textarea::placeholder {
        color: #f1f1f19e;
      }
      input:hover {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px);
      }
      input:focus,
      textarea:focus {
        box-shadow: 0px 0px 10px #000000a9;
        transition: all ease-in-out 400ms;
      }
      input:focus::placeholder {
        color: #f1f1f133;
      }
    }
    input[type="submit"] {
      outline: none;
      border: 2px solid var(--primary-color);
      border-radius: 32px;
      padding: 10px 20px;
      font-size: 26px;
      font-family: "Helvetica Now Display";
      font-weight: 600;
      color: var(--primary-color);
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      transition: all ease-in-out 400ms;
    }
    input[type="submit"]:hover {
      background-color: var(--black);
      border: 2px solid var(--fS-h4-light-1);
      color: var(--fS-h4-light-1);
    }
  }
  button {
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 32px;
    padding: 10px 20px;
    font-size: 26px;
    font-family: "Helvetica Now Display";
    font-weight: 600;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    transition: all ease-in-out 400ms;
  }
  button:hover {
    background-color: var(--black);
    border: 2px solid var(--fS-h4-light-1);
    color: var(--fS-h4-light-1);
  }
}

.fourthSection__adress {
  box-shadow: 0px 0px 20px #000000a9;
  border-radius: 16px;
  width: 100%;
  iframe {
    border-radius: 16px;
  }
}

.fifthSection {
  padding: 96px 0 250px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}
.fifthSection__timeline {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 40px;
  h4 {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    color: var(--fS-h4-light-1);
  }
}
.timeline__main {
  display: flex;
  gap: 50px;
  width: 100%;
}
.timeline__ul {
  margin-top: -50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 96px;
  width: 100%;
  li {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease-in, transform 800ms ease-in;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 0;
    border: 2px solid var(--fS-h4-light-1);
    span {
      color: #f2f2f2;
      font-size: 24px;
      font-weight: 900;
      margin-left: 10px;
    }
    h5 {
      font-family: "Orbitron", sans-serif;
      font-size: 36px;
      color: #ffffff;
      font-weight: 500;
    }
    p {
      margin-left: 10px;
      font-size: 20px;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
  .timeline-item.visible {
    opacity: 1;
    transform: translateY(50px);
  }
  li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -98px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 98px;
    background-color: var(--fS-h4-light-1);
    backdrop-filter: blur(15px);
    z-index: -1;
    transition: all ease-in-out 800ms;
  }
}

.fifthSection__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 36px;
  width: 100%;
  h4 {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    color: var(--fS-h4-light-1);
  }
}
.fifthSection__skillsList {
  width: 100%;
}
.fifthSection__skillsUl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--primary-color);
  font-size: 32px;
  gap: 26px;
}
.skills {
  box-shadow: 0px 0px 16px #000000a9;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 60%;
  padding: 16px 26px;
  border-radius: 16px;
  transform: translateY(100px);
  transition: opacity 2s ease-in, transform 800ms ease-in,
    border ease-in-out 400ms;
  p {
    font-family: "Orbitron", sans-serif;
    padding-right: 20px;
    font-style: italic;
    font-weight: 700;
  }
}
.skills.visible {
  opacity: 1;
  transform: translateY(50px);
}
.skills:hover {
  border: 2px solid var(--fS-h4-light-1);
}
.skillsBox {
  width: 100%;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  background: linear-gradient(45deg, #5b37eb31, rgba(55, 235, 169, 0.295));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 24px;
  border-radius: 32px;
}
.skillsProg {
  border: none;
  height: 100%;
  border-radius: 32px;
  transition: all ease-in 4s;
}
.skillsProg1 {
  /* HTML */
  width: 100%;
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #e34c26, #f06529);
}
.skillsProg2 {
  /* CSS */
  background: linear-gradient(-45deg, #264de4, #2965f1);
  background-size: 400% 400%;

  width: 90%;
}
.skillsProg3 {
  /* JS */
  background: linear-gradient(-45deg, #d4b830, #fdd83c);
  background-size: 400% 400%;

  width: 65%;
}
.skillsProg4 {
  /* React */
  background: linear-gradient(-45deg, #61dafb, #61dafb);
  background-size: 400% 400%;

  width: 25%;
}
.skillsProg5 {
  /* Node.js */
  background: linear-gradient(-45deg, #80bd00, #448a43);
  background-size: 400% 400%;

  width: 30%;
}
.skillsProg6 {
  /* SQL */
  background: linear-gradient(-45deg, #2687cf, #b8d432);
  background-size: 400% 400%;

  width: 90%;
}
.skillsProg7 {
  /* C# */
  background: linear-gradient(-45deg, #68217a, #953dac);
  background-size: 400% 400%;

  width: 60%;
}
.skillsProg8 {
  /* C++ */
  background: linear-gradient(-45deg, #084a86, #699dd3);
  background-size: 400% 400%;

  width: 75%;
}
.skillsProg9 {
  /* Python */
  background: linear-gradient(-45deg, #386f9c, #ffe671);
  background-size: 400% 400%;

  width: 60%;
}
.skillsProg10 {
  /* Java */
  background: linear-gradient(-45deg, #ca3132, #3174b9);
  background-size: 400% 400%;

  width: 65%;
}
.skillsProg11 {
  /* Bootstrap */
  background: linear-gradient(-45deg, #8c0bfd, #6f09f5);
  background-size: 400% 400%;

  width: 80%;
}
.skillsProg12 {
  /* Tailwind CSS*/
  background: linear-gradient(-45deg, #1ea3bc, #12c9b7);
  background-size: 400% 400%;
  width: 85%;
}
/* RESPONSIV DIZAYN */
@media (min-width: 1200px) and (max-width: 1440px) {
  .firstSection {
    flex-direction: column;
    padding-right: 0;
    gap: 60px;
  }
  .firstSection__main {
    justify-content: center;
    gap: 80px;
    align-items: center;
  }
  .firstSection__content {
    gap: 20px;
    justify-content: center;
    .firstSection__contentLinks {
      margin-top: 0px;
      a {
        font-size: 20px;
      }
    }
  }
  .firstSection {
    .firstSection__advantages {
      width: auto;
      flex-direction: row;
      .firstSection__advMain {
        width: 100%;
        div > p:nth-child(2) {
          width: 90%;
        }
      }
    }
    .firstSection__rating {
      position: static;
    }
  }
  .thirdSection {
    padding: 120px 50px;
  }
  .thirdSection__projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .firstSection__main {
    flex-direction: column;
    padding-right: 0;
  }
  /* TABLET */
  .welcome {
    height: 100%;
    width: 100%;
    padding: 0;
    .welcome-title {
      span:nth-child(1) {
        font-size: 72px;
      }
      span:nth-child(2) {
        font-size: 96px;
      }
    }
    h2 {
      font-size: 42px;
    }
  }
  .cursorBg {
    display: none;
  }
  #theme-switch-mobile {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0;
    font-size: 14px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
  #theme-switch-mobile svg:last-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:first-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:last-child {
    display: block;
  }
  .navTab {
    display: none;
  }
  .navTab__mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 31415;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 8px 2px 8px 2px;
    border-radius: 25% 25% 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    li {
      margin-top: 8px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.283);
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 50%;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            fill: var(--primary-color);
            color: var(--primary-color);
          }
        }
        .cls-2,
        .cls-1 {
          stroke: var(--primary-color);
        }
      }
    }
    li:nth-child(1),
    li:nth-child(5) {
      margin-top: 10px;
      width: 50px;
      height: 50px;
    }
    li:nth-child(3) {
      margin-top: 0;
      width: 70px;
      height: 70px;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .firstSection {
    gap: 40px;
    padding-top: 60px;
    flex-direction: column;
    height: auto;
  }
  .firstSection__content {
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 20px;
    p {
      font-size: 24px;
      width: 100%;
    }
    .firstSection__contentLinks {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      a {
        text-align: center;
        font-size: 30px;
      }
    }
    .firstSection__rating {
      width: 100%;
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 0;
      .rating__num {
        font-size: 72px;
      }
      .rating__desc {
        font-size: 24px;
      }
    }
  }
  .firstSection__img {
    width: 100%;
    img {
      width: 80%;
    }
  }
  .firstSection__advantages {
    width: 100%;
    .firstSection__advMain {
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      div > p:nth-child(1) {
        font-size: 48px;
      }
      div > p:nth-child(2) {
        font-size: 28px;
      }
    }
  }
  .secondSection {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }
  .secondSection__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .secondSection__content {
    gap: 16px;
    h4 {
      font-size: 54px;
    }
    p {
      font-size: 28px;
    }
  }
  .thirdSection {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .thirdSection__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .thirdSection__projectsTitle {
    p {
      font-size: 36px;
    }
  }
  .fourthSection div {
    flex-direction: column;
  }
  .fourthSection__form {
    button[type="button"] {
      font-size: 36px;
    }
  }
  .fourthSection__form form {
    div > label {
      font-size: 24px;
    }
    div > input,
    div > textarea,
    input[type="submit"] {
      font-size: 36px;
    }
    #contactName {
      flex-direction: column;
    }
  }
  .fourthSection__adress {
    height: 40vh;
  }
  .fifthSection {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .fifthSection__timeline {
    width: 100%;
  }
  .fifthSection__skills {
    width: 100%;
    align-items: flex-start;
  }
  .fifthSection__skillsUl {
    width: 100%;
    align-items: flex-start;
  }
  .timeline__main {
    .timeline__ul {
      .timeline-item {
        p {
          font-size: 32px;
        }
      }
    }
  }
  .skills {
    width: 100%;
    align-items: flex-start;
  }
  #footer {
    padding: 40px 20px 160px 20px;
  }
  .footer__head {
    justify-content: space-between;
  }
  #footer__backtotop {
    display: flex;
    flex-direction: column;
    width: min-content;
    p:nth-child(1) {
      order: 2;
    }
  }
  .footerMain .footer__body {
    width: 100%;
    justify-content: center;
    align-items: center;
    p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 12px;
      margin-left: 0;
    }
    p:nth-child(2) {
      font-size: 84px;
      text-align: center;
    }
  }
  .footerMain .footer__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    a {
      text-align: center;
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .firstSection__main {
    flex-direction: column;
    padding-right: 0;
  }
  /* TABLET */

  /* MOBILE */
  .welcome {
    height: 100%;
    width: 100%;
    padding: 0;
    .welcome-title {
      span:nth-child(1) {
        font-size: 72px;
      }
      span:nth-child(2) {
        font-size: 96px;
      }
    }
    h2 {
      font-size: 42px;
    }
  }
  .cursorBg {
    display: none;
  }
  #theme-switch-mobile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    font-size: 14px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
  #theme-switch-mobile svg:last-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:first-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:last-child {
    display: block;
  }
  .navTab {
    display: none;
  }
  .navTab__mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 31415;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 8px 2px 8px 2px;
    border-radius: 25% 25% 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    li {
      margin-top: 8px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.283);
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 50%;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            fill: var(--primary-color);
            color: var(--primary-color);
          }
        }
        .cls-2,
        .cls-1 {
          stroke: var(--primary-color);
        }
      }
    }
    li:nth-child(1),
    li:nth-child(5) {
      margin-top: 10px;
      width: 50px;
      height: 50px;
    }
    li:nth-child(3) {
      margin-top: 0;
      width: 70px;
      height: 70px;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .firstSection {
    gap: 40px;
    padding-top: 60px;
    flex-direction: column;
    height: auto;
  }
  .firstSection__content {
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 20px;
    p {
      font-size: 24px;
      width: 100%;
    }
    .firstSection__contentLinks {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      a {
        text-align: center;
        font-size: 30px;
      }
    }
    .firstSection__rating {
      width: 100%;
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 0;
      .rating__num {
        font-size: 72px;
      }
      .rating__desc {
        font-size: 24px;
      }
    }
  }
  .firstSection__img {
    width: 100%;
    img {
      width: 80%;
    }
  }
  .firstSection__advantages {
    width: 100%;
    .firstSection__advMain {
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      div > p:nth-child(1) {
        font-size: 48px;
      }
      div > p:nth-child(2) {
        font-size: 28px;
      }
    }
  }
  .secondSection {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }
  .secondSection__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .secondSection__content {
    gap: 16px;
    h4 {
      font-size: 54px;
    }
    p {
      font-size: 28px;
    }
  }
  .thirdSection {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .thirdSection__projects {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .thirdSection__projects {
    gap: 60px;
    p {
      font-size: 36px;
    }
  }
  .fourthSection div {
    flex-direction: column;
  }
  .fourthSection__form {
    button[type="button"] {
      font-size: 36px;
    }
  }
  .fourthSection__form form {
    div > label {
      font-size: 24px;
    }
    div > input,
    div > textarea,
    input[type="submit"] {
      font-size: 36px;
    }
    #contactName {
      flex-direction: column;
    }
  }
  .fourthSection__adress {
    height: 40vh;
  }
  .fifthSection {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .fifthSection__timeline {
    width: 100%;
  }
  .fifthSection__skills {
    width: 100%;
    align-items: flex-start;
  }
  .fifthSection__skillsUl {
    width: 100%;
    align-items: flex-start;
  }
  .timeline__main {
    .timeline__ul {
      .timeline-item {
        p {
          font-size: 32px;
        }
      }
    }
  }
  .skills {
    width: 100%;
    align-items: flex-start;
  }
  #footer {
    padding: 40px 20px 160px 20px;
  }
  .footer__head {
    justify-content: space-between;
  }
  #footer__backtotop {
    display: flex;
    flex-direction: column;
    width: min-content;
    p:nth-child(1) {
      order: 2;
    }
  }
  .footerMain .footer__body {
    width: 100%;
    justify-content: center;
    align-items: center;
    p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 12px;
      margin-left: 0;
    }
    p:nth-child(2) {
      font-size: 84px;
      text-align: center;
    }
  }
  .footerMain .footer__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    a {
      text-align: center;
      width: 100%;
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .firstSection__main {
    flex-direction: column;
    padding-right: 0;
  } /* MOBILE */
  .welcome {
    height: 100%;
    width: 100%;
    padding: 0;
    .welcome-title {
      span:nth-child(1) {
        font-size: 72px;
      }
      span:nth-child(2) {
        font-size: 96px;
      }
    }
    h2 {
      font-size: 42px;
    }
  }
  .cursorBg {
    display: none;
  }
  #theme-switch-mobile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    font-size: 14px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
  #theme-switch-mobile svg:last-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:first-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:last-child {
    display: block;
  }
  .navTab {
    display: none;
  }
  .navTab__mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 31415;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 8px 2px 8px 2px;
    border-radius: 25% 25% 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    li {
      margin-top: 8px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.283);
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 50%;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            fill: var(--primary-color);
            color: var(--primary-color);
          }
        }
        .cls-2,
        .cls-1 {
          stroke: var(--primary-color);
        }
      }
    }
    li:nth-child(1),
    li:nth-child(5) {
      margin-top: 10px;
      width: 50px;
      height: 50px;
    }
    li:nth-child(3) {
      margin-top: 0;
      width: 70px;
      height: 70px;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .firstSection {
    gap: 40px;
    padding-top: 60px;
    flex-direction: column;
    height: auto;
  }
  .firstSection__content {
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 20px;
    p {
      font-size: 24px;
      width: 100%;
    }
    .firstSection__contentLinks {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      a {
        text-align: center;
        font-size: 30px;
      }
    }
    .firstSection__rating {
      width: 100%;
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 0;
      .rating__num {
        font-size: 72px;
      }
      .rating__desc {
        font-size: 24px;
      }
    }
  }
  .firstSection__img {
    width: 100%;
    img {
      width: 80%;
    }
  }
  .firstSection__advantages {
    width: 100%;
    .firstSection__advMain {
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      div > p:nth-child(1) {
        font-size: 48px;
      }
      div > p:nth-child(2) {
        font-size: 28px;
      }
    }
  }
  .secondSection {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }
  .secondSection__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .secondSection__content {
    gap: 16px;
    h4 {
      font-size: 54px;
    }
    p {
      font-size: 28px;
    }
  }
  .thirdSection {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .thirdSection__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .thirdSection__projectsTitle {
    p {
      font-size: 36px;
    }
  }
  .fourthSection div {
    flex-direction: column;
  }
  .fourthSection__form {
    button[type="button"] {
      font-size: 36px;
    }
  }
  .fourthSection__form form {
    div > label {
      font-size: 24px;
    }
    div > input,
    div > textarea,
    input[type="submit"] {
      font-size: 36px;
    }
    #contactName {
      flex-direction: column;
    }
  }
  .fourthSection__adress {
    height: 40vh;
  }
  .fifthSection {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .fifthSection__timeline {
    width: 100%;
  }
  .fifthSection__skills {
    width: 100%;
    align-items: flex-start;
  }
  .fifthSection__skillsUl {
    width: 100%;
    align-items: flex-start;
  }
  .timeline__main {
    .timeline__ul {
      .timeline-item {
        p {
          font-size: 32px;
        }
      }
    }
  }
  .skills {
    width: 100%;
    align-items: flex-start;
  }
  #footer {
    padding: 40px 20px 160px 20px;
  }
  .footer__head {
    justify-content: space-between;
  }
  #footer__backtotop {
    display: flex;
    flex-direction: column;
    width: min-content;
    p:nth-child(1) {
      order: 2;
    }
  }
  .footerMain .footer__body {
    width: 100%;
    justify-content: center;
    align-items: center;
    p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 12px;
      margin-left: 0;
    }
    p:nth-child(2) {
      font-size: 84px;
      text-align: center;
    }
  }
  .footerMain .footer__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    a {
      text-align: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .firstSection__main {
    flex-direction: column;
    padding-right: 0;
  }
  /* MOBILE */
  .welcome {
    height: 100%;
    width: 100%;
    padding: 0;
    .welcome-title {
      span:nth-child(1) {
        font-size: 72px;
      }
      span:nth-child(2) {
        font-size: 96px;
      }
    }
    h2 {
      font-size: 42px;
    }
  }
  .cursorBg {
    display: none;
  }
  #theme-switch-mobile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    font-size: 14px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
  #theme-switch-mobile svg:last-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:first-child {
    display: none;
  }
  .lightmode #theme-switch-mobile > svg:last-child {
    display: block;
  }
  .navTab {
    display: none;
  }
  .navTab__mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 31415;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 8px 2px 8px 2px;
    border-radius: 25% 25% 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    li {
      margin-top: 8px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.283);
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 50%;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            fill: var(--primary-color);
            color: var(--primary-color);
          }
        }
        .cls-2,
        .cls-1 {
          stroke: var(--primary-color);
        }
      }
    }
    li:nth-child(1),
    li:nth-child(5) {
      margin-top: 10px;
      width: 50px;
      height: 50px;
    }
    li:nth-child(3) {
      margin-top: 0;
      width: 70px;
      height: 70px;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .firstSection {
    gap: 40px;
    padding-top: 60px;
    flex-direction: column;
    height: auto;
  }
  .firstSection__content {
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 20px;
    p {
      width: 100%;
    }
    .firstSection__contentLinks {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      a {
        text-align: center;
        font-size: 18px;
      }
    }
    .firstSection__rating {
      width: 100%;
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 0;
    }
  }
  .firstSection__img {
    width: 100%;
    img {
      width: 80%;
    }
  }
  .firstSection__advantages {
    width: 100%;
    .firstSection__advMain {
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
    }
  }
  .secondSection {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 24px;
  }
  .secondSection__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .secondSection__content {
    gap: 16px;
    h4 {
      font-size: 54px;
    }
    p {
      font-size: 16px;
    }
  }
  .thirdSection {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .thirdSection__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .fourthSection div {
    flex-direction: column;
  }
  .fourthSection__form form {
    #contactName {
      flex-direction: column;
    }
  }
  .fourthSection__adress {
    height: 40vh;
  }
  .fifthSection {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .fifthSection__timeline {
    width: 100%;
  }
  .fifthSection__skills {
    width: 100%;
    align-items: flex-start;
  }
  .fifthSection__skillsUl {
    width: 100%;
    align-items: flex-start;
  }
  .skills {
    width: 100%;
    align-items: flex-start;
  }
  #footer {
    padding: 40px 20px 120px 20px;
  }
  .footer__head {
    justify-content: space-between;
  }
  #footer__backtotop {
    display: flex;
    flex-direction: column;
    width: min-content;
    p:nth-child(1) {
      order: 2;
    }
  }
  .footerMain .footer__body {
    width: 100%;
    justify-content: center;
    align-items: center;
    p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 12px;
      margin-left: 0;
    }
    p:nth-child(2) {
      font-size: 84px;
      text-align: center;
    }
  }
  .footerMain .footer__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    a {
      text-align: center;
      width: 100%;
    }
  }
}
